{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<style>
  .logo {
    width: 50%;
  }

</style>

<div class="w3-margin">

  <table class="w3-table w3-striped w3-center" style="width:60%;">
    <thead class="w3-dark-grey">
      <th>Position</th>
      <th>crest</th>
      <th>Club</th>
      <th>Played</th>
      <th>Win</th>
      <th>Draw</th>
      <th>Loss</th>
      <th>GD</th>
      <th>GF</th>
      <th>GA</th>
      <th>Points</th>
    </thead>
    <tbody>
      {% for club in clubs %}
      <tr class="w3-center">
        <td class="w3-center">{{ club.position }}</td>
        <td><img class="logo" src="{{club.club_logo}}" alt="8("></td>
        <td>{{ club.club_name_short }}</td>
        <td>{{ club.played }}</td>
        <td>{{ club.wins }}</td>
        <td>{{ club.draws }}</td>
        <td>{{ club.losses }}</td>
        <td>{{ club.goals_for - club.goals_against }}</td>
        <td>{{ club.goals_for }}</td>
        <td>{{ club.goals_against }}</td>
        <td>{{ club.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
